# Derlenmiş dosyalar
service-client_sistemi/build/
service-client_sistemi/install/
service-client_sistemi/log/

launch/build/
launch/install/
launch/log/

levha_tespit/build/
levha_tespit/install/
levha_tespit/log/


# Python cache
*.pyc
*.pyo
__pycache__/

# Diğer
*.swp
*.bak
