# Derlenmiş dosyalar
service-client_sistemi/build/
service-client_sistemi/install/
service-client_sistemi/log/

launch/build/
launch/install/
launch/log/

levha_tespiti/build/
levha_tespiti/install/
levha_tespiti/log/


# Python cache
*.pyc
*.pyo
__pycache__/

# Diğer
*.swp
*.bak
